<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="container border border-2 text-center w-50 border-dark p-5 mt-5">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label fw-bold fs-5">Enter OTP</label>
            <input type="text" name="o">
        </div>
           <div class="mb-3">
               <input type="submit" class="btn btn-dark btn-sm">
        </div>
    </form>

{% if messages %}
    <ul>
        {% for i in messages %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock %}